
@media (min-width:768px) and (max-width:979px){
	.qualidade::after{

		right: 74px;
	
	}
	/*Footer*/
	.footer_redes ul li a img{
		width: 23px;
	}

	/*PRODUTOS*/
	.produto_item h2{
		top:-150px;
		margin-bottom: -56px;
	}
	.produto_icone{
		padding: 33px 0;
	}
	.produto_info p{
		color: #fff;
		font-size: 14px;
		height: 122px;
		line-height: 25px;
		padding: 20px 30px;
	}
	.produto_info ul li{
		background: #F9C041;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 20px;
		float: left;
		font-weight: bold;
		text-align: center;
		height: 49px;
		width: 181px;
		padding-top: 16px;
	}






}



@media (max-width:788px){
	/*HEADER*/
	.header{
	position: relative;
	padding-bottom: 0;

	}
	.header img{
		margin: 0 auto;
		margin-bottom:10px ;
	}
	.header_menu{
		text-align: center;
	}
	.header_menu ul li{
		margin: 0;
	}
	.header_menu ul li a{
		border:  3px solid #000;
		width: 140px;
		display: block;
		margin-bottom: 5px;
	}
	.header_menu ul li a:hover{
		border-color: #fff;
	}
	.header_menu ul li a.menu_ativo{
		border-color: #fff;
	}


	/*INTRODUÇAÕ*/
	.introducao{
		margin-top: 0;
		padding-top: 40px;
	}
	/*CALL*/
	.call{
		padding-top: 10px;
	}

	.qualidade::after{

		display: none;
	
	}
	.introducao h1{
		font-size: 36px;
	}
	
	/*INTRODUÇÃO INTERNA*/
	.introducao_interna{
		margin-top: 0px;

	}


	/*SOBRE*/
	.missao_sobre p{
		font-size: 14px;
		line-height: 20px;
		padding-right: 0;
	}
	.missao_sobre ul li{
		font-size: 14px;
		line-height: 25px;
	}
	/*PRODUTOS*/
	.produto_item h2{
		top:-100px;
		margin-bottom: -70px;
	}

	.produto_icone{
		padding: 33px 0;
	}
	.produto_info p{
		color: #fff;
		font-size: 14px;
		height: auto;
		line-height: 25px;
		padding: 20px 30px;
	}
	.produto_info ul li{
		font-size: 14px;
		line-height: 20px;
		height: 49px;
		width: 149px;
		
	}
	.form{
		padding:0 ;
	}
	.orcamento_dados ul{
		padding: 0;
	}
	/*CONTATO*/
	.contato_form{
		padding-right: 0;
		margin-bottom: 60px;
	}
	.contato_mapa{
		display: block;
	}



}